#body {
  background: url('jason-wong-3499301-image.jpg') top;
  background-size: cover;
}

#app h1, #app h2, #app h3, #app h4, #app h5, #app p, #app span{
  color: white;
}

#main-logo{
  height: 15em;
  margin: 10% auto 12% auto;
  min-height: 10em;
  display: block;
}

@media only screen and (max-width: 790px) {
  #main-logo{
    height: 10em;
    margin: 10% auto 12% auto;
  }
}

@media only screen and (min-width: 1200px) {
  #main-logo{
    height: 25em;
    margin: 15% auto 17% auto;
  }
}

#home-divider {
  border: 2px solid white;
  opacity: 0.5;
  margin: 0%;
}
