.home-page-signed-buttons button {
  background: none;
  transition: 0.3s ease-in-out;
  margin: 0%;
  font-family: futura;
  border: 3px solid rgba(0,0,0,0);
  outline: none;
}

div.timeline-index {
  text-align: center;
  height: 35rem;
  overflow: scroll;
}

.home-page-signed-buttons button:hover {
  background: none;
  border-bottom: 3px solid white;
}

button.selected-homepage-button {
  background: none;
  border-bottom: 3px solid white;
}

button.selected-homepage-button:focus {
  background: none;
  border-bottom: 3px solid white;
}

button.new-timeline-button:focus {
  background: none;
  border-bottom: 3px solid white;
}

div.timeline-tile {
  margin:  2% 2%;
  width: 20rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 10rem;
}

img.timeline-tile-image {
  width: 100%;
  height: 100%;
  transition: 0.7s ease-in-out;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  object-fit: cover;
  opacity: 0.8;
}

img.timeline-tile-image:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1;
}

h3.timeline-tile-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: futura;
  text-align: center;
}

#personal-timeline-intro {
  font-family: futura;
  margin: 3% 15%;
  text-align: center;
}

@media only screen and (max-width: 790px) {
  #personal-timeline-intro {
    font-size: 1rem;
  }
}

h3.sign-out-info {
  font-family: futura;
  text-align: center;
  margin: 2% 10% 0% 10%;
}
