.navbar button {
  background: none;
  transition: 0.3s ease-in-out;
  margin: 0%;
  font-family: futura;
  border: 3px solid rgba(0,0,0,0);
  outline: none;
}

.navbar button:hover {
  background: none;
  border-bottom: 3px solid white;
}

.navbar button:focus {
  background: none;
  border-bottom: 3px solid white;
}
