button.personal-timeline-button {
  background: rgba(34, 34, 34, 0.55);
  transition: 0.3s ease-in-out;
  margin: 0%;
  padding: 1.5%;
  font-family: futura;
  border: 3px solid rgba(0,0,0,0);
  outline: none;
  #222222
}

button.personal-timeline-button:hover {
  background: none;
  border: 3px solid white;
}

button.personal-timeline-button:focus {
  background: none;
  border: 3px solid white;
}
